<div class="card">
  <div class="card-header">Featured</div>
  <div class="card-body">
    <!-- <table datatable [dtOptions]="dtOptions" id="example" class="table row-border hover">
      <thead>
        <tr>
          <th class="" disabled></th>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td class=""></td>
          <td>Therichpost</td>
          <td>therichposts@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="">
          <td class=""></td>
          <td>Ajay</td>
          <td>therichposts@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
      </tbody>

    </table> -->

    <table
      id="my-table-id"
      datatable
      [dtOptions]="dtOptions"
      class="table table-striped table-bordered hover"
    ></table>
  </div>
</div>
