<div class="row">
  <div class="col-md-4 mt- mx-auto">
    <form [formGroup]="LoginForm">
      <div class="from-group">
        <label for="email"> </label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <small class="form-text invalid-feedback">
          L'Email obligatoire
        </small>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input formControlName="password" type="password" class="form-control" id="password" id="password">
        <small *ngIf="" class="form-text invalid-feedback">
          Password Required
        </small>

        <small class="form-text invalid-feedback">
          Min Password 3
        </small>

      </div>

      {{LoginForm.value | json}}
      <button class="btn btn-block btn-primary">Login</button>

    </form>

  </div>


</div>
