<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">

    <table datatable [dtOptions]="dtOptions" id="example" class="table row-border hover">
      <thead>
        <tr>
          <th class="details-control" disabled></th>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-success">
          <td class="details-control"></td>
          <td>Therichpost</td>
          <td>therichposts@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-info">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-danger">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-warning">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-success">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-info">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-danger">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>ajay@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
        <tr class="table-warning">
          <td class="details-control"></td>
          <td>Ajay</td>
          <td>therichposts@gmail.com</td>
          <td>therichpost.com</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
